Repository edeso/duplicity: changes, and which GitLab CI jobs are due for each by the changed paths.
All: code, py38, py39, py310, py311, website

Path conditions:
  code: any of: .gitlab-ci.yml, requirements.txt, tox.ini, bin/duplicity, duplicity/**/*, testing/**/*
  py38: any of: .gitlab-ci.yml, requirements.txt, tox.ini, bin/duplicity, duplicity/**/*, testing/**/*
  py39: any of: .gitlab-ci.yml, requirements.txt, tox.ini, bin/duplicity, duplicity/**/*, testing/**/*
  py310: any of: .gitlab-ci.yml, requirements.txt, tox.ini, bin/duplicity, duplicity/**/*, testing/**/*
  py311: any of: .gitlab-ci.yml, requirements.txt, tox.ini, bin/duplicity, duplicity/**/*, testing/**/*
  website: any of: CHANGELOG.md, README.md, bin/*.1

chg:pkg: Set version for LP dev PPA.
  duplicity/__init__.py
  man/duplicity.1
  pyproject.toml
  setup.py
  snap/snapcraft.yaml
Due: code, py38, py39, py310, py311

chg:doc: Restore previous docs/Makefile.
  docs/Makefile
Due: none

fix:usr: duplicity 2.2.3: --use-agent can be wrongly turned off
  duplicity/cli_main.py
Due: code, py38, py39, py310, py311

fix:usr: move missleading warning to debug level #813
  duplicity/backend.py
Due: code, py38, py39, py310, py311

fix:usr: Fix invalid option error.
  duplicity/cli_main.py
Due: code, py38, py39, py310, py311

fix:usr: Really fix invalid option error
  duplicity/cli_data.py
  duplicity/cli_main.py
  testing/unit/test_cli_main.py
Due: code, py38, py39, py310, py311

chg:usr: Add deprecation warning for `--async`
  duplicity/cli_util.py
Due: code, py38, py39, py310, py311

chg:usr: reformating, typos
  duplicity/cli_util.py
Due: code, py38, py39, py310, py311

fix:usr: Don't drop args when restarting with execve
  duplicity/dup_main.py
Due: code, py38, py39, py310, py311

chg:pkg: Upgrade setup process and instructions (2nd try)
  Makefile
  README.md
  duplicity/__init__.py
  duplicity/cli_main.py
  duplicity/cli_util.py
  man/duplicity.1
  pyproject.toml
  requirements.txt
  setup.py
  snap/snapcraft.yaml
  testing/manual/test-prefix-install.sh
  testing/manual/test-venv-install.sh
  tools/installpyenv
  tools/installpythons
  tools/testpip
Due: code, py38, py39, py310, py311, website

chg:pkg: Ignore new pylint warning E0606 (possibly-used-before-assignment).
  setup.cfg
Due: none

chg:pkg: Fix typo in ignore new pylint warning.
  setup.cfg
Due: none

chg:pkg: Run po/update-pot.
  po/duplicity.pot
Due: none

chg:pkg: New Crowdin updates.
  po/ro_RO.po
Due: none

chg:pkg: New Crowdin updates.
  po/fr_FR.po
Due: none

chg:pkg: New Crowdin updates.
  po/es_ES.po
Due: none

chg:pkg: New Crowdin updates.
  po/af_ZA.po
Due: none

chg:pkg: New Crowdin updates.
  po/ar_SA.po
Due: none

chg:pkg: New Crowdin updates.
  po/ca_ES.po
Due: none

chg:pkg: New Crowdin updates.
  po/cs_CZ.po
Due: none

chg:pkg: New Crowdin updates.
  po/da_DK.po
Due: none

chg:pkg: New Crowdin updates.
  po/de_DE.po
Due: none

chg:pkg: Prep for 2.2.4rc1
  duplicity/__init__.py
  man/duplicity.1
Due: code, py38, py39, py310, py311

chg:pkg: Update changelog.
  CHANGELOG.md
Due: website

fix:usr: onedrive: fix "unauthorized" upload error by not passing auth
  duplicity/backends/onedrivebackend.py
Due: code, py38, py39, py310, py311

chg:pkg: Add missing fasteners install dependency
  setup.py
Due: none

chg:pkg: Split requirements.txt into .txt and .dev.
  requirements.dev
  requirements.txt
Due: code, py38, py39, py310, py311

chg:pkg: Bump version to 2.2.4.rc2.
  README.md
  duplicity/__init__.py
  man/duplicity.1
  pyproject.toml
  setup.py
  snap/snapcraft.yaml
Due: code, py38, py39, py310, py311, website

chg:pkg: Add requirements.dev to tests.
  .gitlab-ci.yml
Due: code, py38, py39, py310, py311

chg:pkg: Revert "chg:pkg: Add missing fasteners install dependency"
  setup.py
Due: none

chg:pkg: Adjust since twine does not do wildcards.
  tools/pushpip
Due: none

chg:pkg: Use pip-compile to build requirements.txt.
  requirements.in
  requirements.txt
Due: code, py38, py39, py310, py311
