Repository edeso/duplicity: changes, and which GitLab CI jobs are due for each by the changed paths.
All: code, py38, py39, py310, py311, website

Path conditions:
  code: any of: .gitlab-ci.yml, requirements.txt, tox.ini, bin/duplicity, duplicity/**/*, testing/**/*
  py38: any of: .gitlab-ci.yml, requirements.txt, tox.ini, bin/duplicity, duplicity/**/*, testing/**/*
  py39: any of: .gitlab-ci.yml, requirements.txt, tox.ini, bin/duplicity, duplicity/**/*, testing/**/*
  py310: any of: .gitlab-ci.yml, requirements.txt, tox.ini, bin/duplicity, duplicity/**/*, testing/**/*
  py311: any of: .gitlab-ci.yml, requirements.txt, tox.ini, bin/duplicity, duplicity/**/*, testing/**/*
  website: any of: CHANGELOG.md, README.md, bin/*.1

chg:pkg: Prep for 2.1.0
  setup.py
Due: none

chg:pkg: Update changelog.
  CHANGELOG.md
Due: website

chg:pkg: Prep for 2.1.0.
  po/update-pot
  requirements.txt
Due: code, py38, py39, py310, py311

chg:pkg: Skip some tests on Launchpad.
  testing/unit/test_cli_main.py
Due: code, py38, py39, py310, py311

chg:doc: Change backup abbrev 'b' to 'bu'.
  bin/duplicity.1
Due: website

chg:pkg: Do not wrap body of git commit.
  .gitchangelog.rc
Due: none

chg:pkg: Allow duplicity --help and -h. Fixes #749.
  duplicity/cli_main.py
  testing/unit/test_cli_main.py
Due: code, py38, py39, py310, py311

chg:usr: Make action command missing error message more helpful.
  duplicity/cli_main.py
Due: code, py38, py39, py310, py311

chg:pkg: Don't run website unless we commit to main.
  .gitlab-ci.yml
Due: code, py38, py39, py310, py311

chg:pkg: Fix vertical spacing. Set jobs=8 in pylint.
  .pylintrc
  duplicity/cli_data.py
Due: code, py38, py39, py310, py311

fix:usr: Pexpect backend fix
  duplicity/backends/ssh_pexpect_backend.py
Due: code, py38, py39, py310, py311

chg:test: Add test_black to tell us what to reformat.
  bin/duplicity
  duplicity/config.py
  testing/test_code.py
Due: code, py38, py39, py310, py311

chg:pkg: Run flynt on bin/duplicity.
  bin/duplicity
Due: code, py38, py39, py310, py311

chg:pkg: Add black to requirements.txt.
  requirements.txt
Due: code, py38, py39, py310, py311

chg:pkg: Run po/update-pot.
  po/duplicity.pot
Due: none

chg:pkg: Prep for 2.1.1
  CHANGELOG.md
  setup.py
Due: website

chg:pkg: Change version for LP.
  setup.py
Due: none

chg:usr: Change message in check_target_url.
  duplicity/cli_util.py
Due: code, py38, py39, py310, py311

chg:usr: Add debug message for missing schemes.
  duplicity/backend.py
Due: code, py38, py39, py310, py311

chg:test: Move skipCodeTest to class level.
  testing/test_code.py
Due: code, py38, py39, py310, py311

fix:usr: more argparse refinements, especially wrt. removed/changed options ...
  duplicity/cli_data.py
  duplicity/cli_main.py
  duplicity/cli_util.py
Due: code, py38, py39, py310, py311

fix:usr: Adjust azure import handling. Fixes #756.
  duplicity/backends/azurebackend.py
  requirements.txt
Due: code, py38, py39, py310, py311

fix:doc: Fix python version requirement. Fixes #754.
  bin/duplicity.1
Due: website

Fixes to CLI handling
  bin/duplicity.1
  duplicity/cli_data.py
  duplicity/cli_main.py
  duplicity/cli_util.py
Due: code, py38, py39, py310, py311, website

some more refinements, fix some breakage
  duplicity/cli_data.py
  duplicity/cli_main.py
  duplicity/cli_util.py
  testing/unit/test_cli_main.py
Due: code, py38, py39, py310, py311

Fix to OptionKwargs handling.
  duplicity/cli_data.py
Due: code, py38, py39, py310, py311

Fix removed/changed options handling.
  duplicity/cli_main.py
  duplicity/cli_util.py
Due: code, py38, py39, py310, py311

If implied not possible pass on to main parser.
  duplicity/cli_main.py
Due: code, py38, py39, py310, py311

fix tests failing because of "ambiguous option"
  duplicity/cli_main.py
Due: code, py38, py39, py310, py311

More changes - don't try to specially handle removed/changed - set allow_abbrev back to True
  duplicity/cli_main.py
  duplicity/cli_util.py
Due: code, py38, py39, py310, py311

fix:usr: Implement _retry_cleanup for ssh_paramiko
  duplicity/backends/ssh_paramiko_backend.py
Due: code, py38, py39, py310, py311

Clean up error handling, first pass.
  duplicity/cli_main.py
  duplicity/cli_util.py
  testing/unit/test_cli_main.py
Due: code, py38, py39, py310, py311

Yet another pass. All tests passing.
  duplicity/cli_data.py
  duplicity/cli_main.py
  testing/unit/test_cli_main.py
Due: code, py38, py39, py310, py311

Fix PEP8 issue. Allow failure in code step.
  .gitlab-ci.yml
  duplicity/cli_main.py
Due: code, py38, py39, py310, py311

chg:doc: Don't truncate CHANGELOG.md.
  .gitchangelog.rc
Due: none

fix:usr: issue #759 "--asynchronous-upload is not parsed correctly"
  duplicity/cli_data.py
  duplicity/cli_util.py
Due: code, py38, py39, py310, py311
