Repository edeso/duplicity: changes, and which GitLab CI jobs are due for each by the changed paths.
All: code, py27, py35, py36, py37, py38, py39, py310, py311, website

Path conditions:
  code: any of: .gitlab-ci.yaml, bin/duplicity, bin/rdiffdir, duplicity/**/*, testing/**/*
  py27: any of: .gitlab-ci.yaml, bin/duplicity, bin/rdiffdir, duplicity/**/*, testing/**/*
  py35: any of: .gitlab-ci.yaml, bin/duplicity, bin/rdiffdir, duplicity/**/*, testing/**/*
  py36: any of: .gitlab-ci.yaml, bin/duplicity, bin/rdiffdir, duplicity/**/*, testing/**/*
  py37: any of: .gitlab-ci.yaml, bin/duplicity, bin/rdiffdir, duplicity/**/*, testing/**/*
  py38: any of: .gitlab-ci.yaml, bin/duplicity, bin/rdiffdir, duplicity/**/*, testing/**/*
  py39: any of: .gitlab-ci.yaml, bin/duplicity, bin/rdiffdir, duplicity/**/*, testing/**/*
  py310: any of: .gitlab-ci.yaml, bin/duplicity, bin/rdiffdir, duplicity/**/*, testing/**/*
  py311: any of: .gitlab-ci.yaml, bin/duplicity, bin/rdiffdir, duplicity/**/*, testing/**/*
  website: any of: CHANGELOG.md, README.md, bin/*.1

chg:pkg: raise CommandLineError on deprecated/changed options.
  duplicity/cli_data.py
  duplicity/cli_util.py
  testing/unit/test_cli_main.py
Due: code, py27, py35, py36, py37, py38, py39, py310, py311

chg:pkg: Uncomment log.test_command_line_error
  duplicity/cli_main.py
  testing/functional/test_log.py
Due: code, py27, py35, py36, py37, py38, py39, py310, py311

chg:pkg: Cleanup py2 cruft and more.
  duplicity/asyncscheduler.py
  duplicity/cli_data.py
  duplicity/cli_main.py
  duplicity/dup_main.py
  duplicity/dup_temp.py
  duplicity/dup_threading.py
  requirements.txt
  tox.ini
Due: code, py27, py35, py36, py37, py38, py39, py310, py311

chg:pkg: Cleanup py2 cruft and more.
  duplicity/backends/_boto_multi.py
  duplicity/backends/onedrivebackend.py
  duplicity/backends/pyrax_identity/hubic.py
  duplicity/errors.py
  duplicity/filechunkio.py
  duplicity/progress.py
  testing/__init__.py
  testing/functional/__init__.py
  testing/functional/test_log.py
  testing/manual/backendtest.py
  testing/unit/test_backend.py
  testing/unit/test_backend_instance.py
  testing/unit/test_collections.py
  testing/unit/test_diffdir.py
  testing/unit/test_file_naming.py
  testing/unit/test_gpg.py
  testing/unit/test_lazy.py
  testing/unit/test_patchdir.py
  testing/unit/test_path.py
  testing/unit/test_selection.py
  testing/unit/test_statistics.py
Due: code, py27, py35, py36, py37, py38, py39, py310, py311

chg:pkg: Run po/update-pot.
  po/POTFILES.in
  po/duplicity.pot
Due: none

chg:pkg: Fix tools/release-prep.
  tools/release-prep
Due: none

chg:pkg: Prep for 1.2.3
  setup.py
Due: none

chg:pkg: Update changelog.
  CHANGELOG.md
Due: website

chg:pkg: Fix tools release-prep & makechangelog.
  tools/makechangelog
  tools/release-prep
Due: none

chg:pkg: Change version for LP.
  setup.py
Due: none

fix:usr: add a missing method to some super calls
  duplicity/backends/_boto_multi.py
  duplicity/backends/onedrivebackend.py
  duplicity/backends/pyrax_identity/hubic.py
  duplicity/errors.py
Due: code, py27, py35, py36, py37, py38, py39, py310, py311

fix:usr: Add a missing super() call in path.py.
  duplicity/path.py
Due: code, py27, py35, py36, py37, py38, py39, py310, py311

chg:pkg: Remove spaces in version specs.
  requirements.txt
Due: none

chg:test: Revert back to tox < 4.0.
  requirements.txt
Due: none

chg:test: Test if requirements.txt changes.
  .gitlab-ci.yml
Due: none

chg:pkg: Force cryptography<3.4 for py2 support.
  requirements.txt
Due: none

chg:test: Comment out test_path:test_compare, flaky.
  testing/unit/test_path.py
Due: code, py27, py35, py36, py37, py38, py39, py310, py311

chg:test: Fix #707 for rclone backend testing.
  testing/unit/test_backend_instance.py
  tox.ini
Due: code, py27, py35, py36, py37, py38, py39, py310, py311

chg:test: Fix #707 for test_get_stats_string.
  testing/unit/test_statistics.py
Due: code, py27, py35, py36, py37, py38, py39, py310, py311

chg:test: Fix #707 for test_get_stats_string.
  testing/__init__.py
  testing/unit/test_statistics.py
Due: code, py27, py35, py36, py37, py38, py39, py310, py311

chg:usr: Remove old s3_boto_backend.py.
  duplicity/backends/_boto_multi.py
  duplicity/backends/_boto_single.py
  duplicity/backends/s3_boto_backend.py
  duplicity/cli_data.py
  duplicity/config.py
  duplicity/log.py
Due: code, py27, py35, py36, py37, py38, py39, py310, py311

chg:pkg: setuptools_scm.get_version now uses 'fallback_version'.
  setup.py
Due: none

chg:pkg: update .gitignore.
  .gitignore
Due: none

chg:pkg: add 'make sdist' to Makefile.
  Makefile
Due: none

chg:pkg: remove 'rdiffdir'. Not used.
  .gitlab-ci.yml
  Makefile
  README-REPO.md
  bin/duplicity.1
  bin/rdiffdir
  bin/rdiffdir.1
  po/POTFILES.in
  po/POTFILES.skip
  po/duplicity.pot
  po/update-pot
  setup.py
  snap/snapcraft.yaml
  testing/functional/test_rdiffdir.py
  testing/test_code.py
  tools/list_python_files
Due: code, py27, py35, py36, py37, py38, py39, py310, py311, website

chg:test: Update gitlab-ci.yml.
  .gitlab-ci.yml
Due: none

chg:pkg: New Crowdin updates
  po/nl_NL.po
Due: none

chg:pkg: Changes to allow alpha, beta, rc prerelease.
  .gitchangelog.rc
  CHANGELOG.md
  setup.py
  tools/makechangelog
  tools/release-prep
Due: website

chg:pkg: Make PEP 440 compatible, not semver yet.
  setup.py
Due: none

chg:pkg: Use semver tags, let setup mangle.
  setup.py
Due: none

chg:pkg: Give up. Let setup mangle as it will.
  setup.py
Due: none

chg:pkg: Fix initial version.
  setup.py
Due: none

fix:usr: handle read-only remote parent folder better in gio backend
  duplicity/backends/giobackend.py
Due: code, py27, py35, py36, py37, py38, py39, py310, py311

fix:dev: Fix .gitlab-ci.yml file syntax error.
  .gitlab-ci.yml
Due: none

fix:usr: Fix #22, “--no-compression” doesn't have effect.
  duplicity/gpg.py
Due: code, py27, py35, py36, py37, py38, py39, py310, py311

chg:pkg: "--ignore-errors" gets proper handling in CLI.
  duplicity/cli_data.py
  duplicity/cli_main.py
  duplicity/cli_util.py
Due: code, py27, py35, py36, py37, py38, py39, py310, py311
