Repository edeso/duplicity: changes, and which GitLab CI jobs are due for each by the changed paths.
All: code, py38, py39, py310, py311, website

Path conditions:
  code: any of: .gitlab-ci.yml, requirements.txt, tox.ini, bin/duplicity, duplicity/**/*, testing/**/*
  py38: any of: .gitlab-ci.yml, requirements.txt, tox.ini, bin/duplicity, duplicity/**/*, testing/**/*
  py39: any of: .gitlab-ci.yml, requirements.txt, tox.ini, bin/duplicity, duplicity/**/*, testing/**/*
  py310: any of: .gitlab-ci.yml, requirements.txt, tox.ini, bin/duplicity, duplicity/**/*, testing/**/*
  py311: any of: .gitlab-ci.yml, requirements.txt, tox.ini, bin/duplicity, duplicity/**/*, testing/**/*
  website: any of: CHANGELOG.md, README.md, bin/*.1

chg:pkg: New Crowdin updates
  po/en_US.po
Due: none

Make argparse exit_on_error.
  duplicity/argparse311.py
  duplicity/cli_main.py
  duplicity/cli_util.py
  testing/unit/test_cli_main.py
Due: code, py38, py39, py310, py311

Fix test_code to not check argparse311.py. Not our code.
  testing/test_code.py
Due: code, py38, py39, py310, py311

Fix check for py38 version.
  Makefile
  duplicity/cli_main.py
  duplicity/cli_util.py
Due: code, py38, py39, py310, py311

Fix test_code and PEP8 issues.
  duplicity/cli_main.py
  testing/test_code.py
Due: code, py38, py39, py310, py311

Enhance test_help_commands().
  duplicity/cli_main.py
  testing/test_code.py
  testing/unit/test_cli_main.py
Due: code, py38, py39, py310, py311

Change command to action.
  bin/duplicity.1
  duplicity/cli_main.py
Due: code, py38, py39, py310, py311, website

fix some spelling error.
  bin/duplicity.1
Due: website

Fix "bailout" in cli_main.
  duplicity/cli_main.py
Due: code, py38, py39, py310, py311

Change command to action.
  duplicity/cli_util.py
Due: code, py38, py39, py310, py311

fix:usr: Restore s3_use_server_side_encryption.
  duplicity/cli_data.py
Due: code, py38, py39, py310, py311

fix:pkg: Adjust debian/control and requirements.txt.
  debian/control
  requirements.txt
Due: code, py38, py39, py310, py311

fix:usr: Adjust paramiko host key format to hex.
  duplicity/backends/ssh_paramiko_backend.py
Due: code, py38, py39, py310, py311

fix:usr: Whoops, paramiko uses MD5 not SHA256.
  duplicity/backends/ssh_paramiko_backend.py
Due: code, py38, py39, py310, py311

fix:usr: Add -f to lftp mkdir to ignore existing dirs.
  duplicity/backends/lftpbackend.py
Due: code, py38, py39, py310, py311

fix:usr: Fix format of authenticity message.
  duplicity/backends/ssh_paramiko_backend.py
  requirements.txt
Due: code, py38, py39, py310, py311

fix:usr: Refix format of paramiko host authenticity message.
  duplicity/backends/ssh_paramiko_backend.py
  requirements.txt
Due: code, py38, py39, py310, py311

fix:usr: Formatting changes.
  duplicity/cli_main.py
  testing/test_code.py
Due: code, py38, py39, py310, py311

fix:usr: Formatting changes.
  duplicity/cli_data.py
Due: code, py38, py39, py310, py311

fix:usr: Fix mega v1 backend. Fixes #762.
  duplicity/backends/megabackend.py
Due: code, py38, py39, py310, py311

fix:usr: More argparse refinements, especially wrt. removed/changed options ...
  .gitlab-ci.yml
  Makefile
  bin/duplicity.1
  duplicity/argparse311.py
  duplicity/cli_data.py
  duplicity/cli_main.py
  duplicity/cli_util.py
  duplicity/dup_main.py
  testing/test_code.py
  testing/unit/test_cli_main.py
Due: code, py38, py39, py310, py311, website

chg:pkg: Run po/update-pot.
  po/POTFILES.in
  po/duplicity.pot
Due: none

chg:pkg: Update changelog.
  CHANGELOG.md
Due: website

chg:pkg: Prep for 2.1.2
  setup.py
Due: none

chg:pkg: Ignore commit error in release-prep.
  tools/release-prep
Due: none

chg:pkg: fix archive name in release-prep.
  tools/release-prep
Due: none

fix:usr: --full-if-older-than being ignored?
  duplicity/cli_data.py
  duplicity/cli_util.py
  testing/unit/test_cli_main.py
Due: code, py38, py39, py310, py311

fix typo in cli_data.py
  duplicity/cli_data.py
Due: code, py38, py39, py310, py311

chg:usr: Fix typo in cli_data.py
  duplicity/cli_data.py
Due: code, py38, py39, py310, py311

fix:test: fix test_skip_if_no_change to use _runtest_dir not /tmp
  testing/functional/test_final.py
Due: code, py38, py39, py310, py311

fix:dev: Change backup to inc after CLI processing
  duplicity/cli_main.py
  duplicity/config.py
  duplicity/dup_main.py
  testing/unit/test_cli_main.py
Due: code, py38, py39, py310, py311

fix:usr: Fix typos in cli_data.py and release-prep.
  duplicity/cli_data.py
  tools/release-prep
Due: code, py38, py39, py310, py311

fix:usr: --version showing 'duplicity_logging' not 'duplicity'
  duplicity/cli_data.py
Due: code, py38, py39, py310, py311

fix:usr: exclude-other-filesystems seems to be ignored since duplicity 2
  duplicity/cli_data.py
  testing/unit/test_cli_main.py
Due: code, py38, py39, py310, py311

fix:test: Consolidate pytest options.
  setup.cfg
  tox.ini
Due: code, py38, py39, py310, py311

fix:usr: Intermixed argument lists cause problems
  duplicity/cli_main.py
  duplicity/cli_util.py
  testing/unit/test_cli_main.py
Due: code, py38, py39, py310, py311

chg:pkg: Run po/update-pot.
  po/duplicity.pot
Due: none
