Repository edeso/duplicity: changes, and which GitLab CI jobs are due for each by the changed paths.
All: code, py38, py39, py310, py311, website

code:
  stage: qual
  before_script:
  - export LANG=C.UTF-8
  - export LC_ALL=C.UTF-8
  - apt-get update
  - apt-get install -y build-essential git intltool lftp librsync-dev libffi-dev libssl-dev openssl par2 rdiff tzdata
  image: python:3.11
  script:
  - python3 -m pip install -r requirements.txt
  - tox -e code

py38:
  stage: test
  before_script:
  - export LANG=C.UTF-8
  - export LC_ALL=C.UTF-8
  - apt-get update
  - apt-get install -y build-essential git intltool lftp librsync-dev libffi-dev libssl-dev openssl par2 rdiff tzdata
  image: python:3.8
  script:
  - python3 -m pip install -r requirements.txt
  - tox -e py38

py39:
  stage: test
  before_script:
  - export LANG=C.UTF-8
  - export LC_ALL=C.UTF-8
  - apt-get update
  - apt-get install -y build-essential git intltool lftp librsync-dev libffi-dev libssl-dev openssl par2 rdiff tzdata
  image: python:3.9
  script:
  - python3 -m pip install -r requirements.txt
  - tox -e py39

py310:
  stage: test
  before_script:
  - export LANG=C.UTF-8
  - export LC_ALL=C.UTF-8
  - apt-get update
  - apt-get install -y build-essential git intltool lftp librsync-dev libffi-dev libssl-dev openssl par2 rdiff tzdata
  image: python:3.10
  script:
  - python3 -m pip install -r requirements.txt
  - tox -e py310

py311:
  stage: test
  before_script:
  - export LANG=C.UTF-8
  - export LC_ALL=C.UTF-8
  - apt-get update
  - apt-get install -y build-essential git intltool lftp librsync-dev libffi-dev libssl-dev openssl par2 rdiff tzdata
  image: python:3.11
  script:
  - python3 -m pip install -r requirements.txt
  - tox -e py311

website:
  stage: deploy
  image: curlimages/curl:latest
  allow_failure: true
  variables:
    GIT_STRATEGY: none
    GIT_CHECKOUT: 'false'
  script: 'curl --fail-with-body -X POST -F token=${WEBSITE_TRIGGER_TOKEN} -F ref=master https://gitlab.com/api/v4/projects/29130748/trigger/pipeline
  
    '

chg:pkg: New Crowdin updates.
  po/zh_TW.po
Due: none

chg:pkg: New Crowdin updates.
  po/en_US.po
Due: none

chg:pkg: New Crowdin updates.
  po/vi_VN.po
Due: none

chg:pkg: Prep for 3.0.0
  duplicity/__init__.py
  man/duplicity.1
  pyproject.toml
  setup.py
  snap/snapcraft.yaml
Due: code, py38, py39, py310, py311

chg:pkg: Update changelog.
  CHANGELOG.md
Due: website

chg:pkg: Set dev branch to 3.0.1.dev.
  duplicity/__init__.py
  man/duplicity.1
  pyproject.toml
  setup.py
  snap/snapcraft.yaml
Due: code, py38, py39, py310, py311

fix:usr: Empty exclude string results in unfriendly traceback.
  duplicity/cli_util.py
Due: code, py38, py39, py310, py311

fix:usr: Instead of raise call command_line_error() directly.
  duplicity/cli_main.py
Due: code, py38, py39, py310, py311

chg:usr: Use functools.lru_cache with limit, not unlimited.
  duplicity/cached_ops.py
Due: code, py38, py39, py310, py311

fix:usr: SSLCertVerificationError despite --ssl-no-check-certificate
  duplicity/backends/webdavbackend.py
Due: code, py38, py39, py310, py311

fix:usr: Make --ignore-errors actually ignore (and recover from) errors
  duplicity/cli_util.py
  duplicity/dup_main.py
  testing/regression/issue824.sh
Due: code, py38, py39, py310, py311

fix:usr: Allow empty manifest list. #827
  duplicity/dup_main.py
  testing/functional/test_final.py
Due: code, py38, py39, py310, py311

fix:usr: Add file-size query support to rclonebackend
  duplicity/backends/rclonebackend.py
Due: code, py38, py39, py310, py311

fix:usr: Unblock multiprocessing deadlock, ensure local disk usage not exceed n+1 volumes, switch to "spawn".
  duplicity/__main__.py
  duplicity/backend.py
  duplicity/backend_pool.py
  duplicity/backends/_testbackend.py
  duplicity/cli_data.py
  duplicity/cli_util.py
  duplicity/config.py
  duplicity/dup_main.py
  duplicity/log.py
  duplicity/statistics.py
  duplicity/util.py
  pyproject.toml
  testing/manual/2G-test.sh
  testing/manual/__init__.py
  testing/manual/backendtest.py
  testing/manual/roottest.py
  testing/manual/test-concurrency-performance-stats.py
  testing/manual/test-concurrency-performance.sh
Due: code, py38, py39, py310, py311

fix:usr: S3 glacier storage class and --concurrency #831.
  duplicity/backend_pool.py
Due: code, py38, py39, py310, py311

chg:pkg: Fix typo in setuptools section and migrate to new structure.
  pyproject.toml
Due: none

chg:dev: Conform to Python logging levels.
  duplicity/cli_util.py
  duplicity/log.py
Due: code, py38, py39, py310, py311

chg:dev: Cleanup. More moves to logging compat.
  duplicity/log.py
  duplicity/progress.py
Due: code, py38, py39, py310, py311

chg:dev: Move log utils to log_util.py.
  duplicity/__main__.py
  duplicity/backend.py
  duplicity/backend_pool.py
  duplicity/backends/_cf_cloudfiles.py
  duplicity/backends/_cf_pyrax.py
  duplicity/backends/_testbackend.py
  duplicity/backends/adbackend.py
  duplicity/backends/azurebackend.py
  duplicity/backends/dpbxbackend.py
  duplicity/backends/gdrivebackend.py
  duplicity/backends/giobackend.py
  duplicity/backends/hubicbackend.py
  duplicity/backends/lftpbackend.py
  duplicity/backends/ncftpbackend.py
  duplicity/backends/onedrivebackend.py
  duplicity/backends/pcabackend.py
  duplicity/backends/pydrivebackend.py
  duplicity/backends/rclonebackend.py
  duplicity/backends/s3_boto3_backend.py
  duplicity/backends/ssh_pexpect_backend.py
  duplicity/backends/swiftbackend.py
  duplicity/backends/webdavbackend.py
  duplicity/dup_collections.py
  duplicity/dup_main.py
  duplicity/dup_temp.py
  duplicity/gpg.py
  duplicity/log.py
  duplicity/log_util.py
  duplicity/manifest.py
  duplicity/progress.py
  duplicity/selection.py
  duplicity/util.py
Due: code, py38, py39, py310, py311

chg:dev: Remove duplicate function def.
  duplicity/cli_util.py
Due: code, py38, py39, py310, py311

chg:test: Fix problems causing test_concurrency fails.
  duplicity/cli_util.py
Due: code, py38, py39, py310, py311

chg:usr: Checkpoint. Log levels normalized.
  duplicity/cli_data.py
  duplicity/cli_main.py
  duplicity/cli_util.py
  duplicity/diffdir.py
  duplicity/dup_main.py
  duplicity/log.py
  duplicity/log_util.py
Due: code, py38, py39, py310, py311

chg:dev: Fix inheritance.
  duplicity/cli_util.py
Due: code, py38, py39, py310, py311

chg:dev: More post review fixes.
  duplicity/backends/_testbackend.py
  duplicity/backends/dpbxbackend.py
Due: code, py38, py39, py310, py311

chg:dev: Post review fixes.
  duplicity/util.py
Due: code, py38, py39, py310, py311

chg:pkg: More fixes for log utils refactoring.
  duplicity/__main__.py
  duplicity/backend.py
  duplicity/backend_pool.py
  duplicity/backends/_cf_cloudfiles.py
  duplicity/backends/_cf_pyrax.py
  duplicity/backends/adbackend.py
  duplicity/backends/azurebackend.py
  duplicity/backends/gdrivebackend.py
  duplicity/backends/giobackend.py
  duplicity/backends/hubicbackend.py
  duplicity/backends/ncftpbackend.py
  duplicity/backends/onedrivebackend.py
  duplicity/backends/pcabackend.py
  duplicity/backends/pydrivebackend.py
  duplicity/backends/rclonebackend.py
  duplicity/backends/s3_boto3_backend.py
  duplicity/backends/ssh_pexpect_backend.py
  duplicity/backends/swiftbackend.py
  duplicity/backends/webdavbackend.py
  duplicity/dup_collections.py
  duplicity/dup_temp.py
  duplicity/gpg.py
  duplicity/manifest.py
  duplicity/progress.py
  duplicity/selection.py
Due: code, py38, py39, py310, py311

fix:dev: Rework logging to be compatible with Python's logging
  duplicity/__main__.py
  duplicity/backend.py
  duplicity/backend_pool.py
  duplicity/backends/_cf_cloudfiles.py
  duplicity/backends/_cf_pyrax.py
  duplicity/backends/_testbackend.py
  duplicity/backends/adbackend.py
  duplicity/backends/azurebackend.py
  duplicity/backends/dpbxbackend.py
  duplicity/backends/gdrivebackend.py
  duplicity/backends/giobackend.py
  duplicity/backends/hubicbackend.py
  duplicity/backends/lftpbackend.py
  duplicity/backends/ncftpbackend.py
  duplicity/backends/onedrivebackend.py
  duplicity/backends/pcabackend.py
  duplicity/backends/pydrivebackend.py
  duplicity/backends/rclonebackend.py
  duplicity/backends/s3_boto3_backend.py
  duplicity/backends/ssh_pexpect_backend.py
  duplicity/backends/swiftbackend.py
  duplicity/backends/webdavbackend.py
  duplicity/cli_data.py
  duplicity/cli_main.py
  duplicity/cli_util.py
  duplicity/diffdir.py
  duplicity/dup_collections.py
  duplicity/dup_main.py
  duplicity/dup_temp.py
  duplicity/gpg.py
  duplicity/log.py
  duplicity/log_util.py
  duplicity/manifest.py
  duplicity/progress.py
  duplicity/selection.py
  duplicity/util.py
Due: code, py38, py39, py310, py311

chg:pkg: Fixes #832, urllib3 error under python3.12.
  requirements.txt
Due: code, py38, py39, py310, py311

chg:pkg: Run po/update-pot.
  po/POTFILES.in
  po/POTFILES.skip
  po/duplicity.pot
Due: none

chg:pkg: New Crowdin updates.
  po/ro_RO.po
Due: none

chg:pkg: New Crowdin updates.
  po/fr_FR.po
Due: none

chg:pkg: New Crowdin updates.
  po/es_ES.po
Due: none

chg:pkg: New Crowdin updates.
  po/af_ZA.po
Due: none

chg:pkg: New Crowdin updates.
  po/ar_SA.po
Due: none

chg:pkg: New Crowdin updates.
  po/ca_ES.po
Due: none

chg:pkg: New Crowdin updates.
  po/cs_CZ.po
Due: none

chg:pkg: New Crowdin updates.
  po/da_DK.po
Due: none

chg:pkg: New Crowdin updates.
  po/de_DE.po
Due: none

chg:pkg: New Crowdin updates.
  po/el_GR.po
Due: none

Path conditions:
  code: any of: .gitlab-ci.yml, requirements.txt, tox.ini, bin/duplicity, duplicity/**/*, testing/**/*
  py38: any of: .gitlab-ci.yml, requirements.txt, tox.ini, bin/duplicity, duplicity/**/*, testing/**/*
  py39: any of: .gitlab-ci.yml, requirements.txt, tox.ini, bin/duplicity, duplicity/**/*, testing/**/*
  py310: any of: .gitlab-ci.yml, requirements.txt, tox.ini, bin/duplicity, duplicity/**/*, testing/**/*
  py311: any of: .gitlab-ci.yml, requirements.txt, tox.ini, bin/duplicity, duplicity/**/*, testing/**/*
  website: any of: CHANGELOG.md, README.md, bin/*.1
