Repository edeso/duplicity: changes, and which GitLab CI jobs are due for each by the changed paths.
All: code, py27, py35, py36, py37, py38, py39, py310, py311, website

Path conditions:
  code: any of: .gitlab-ci.yaml, bin/duplicity, bin/rdiffdir, duplicity/**/*, testing/**/*
  py27: any of: .gitlab-ci.yaml, bin/duplicity, bin/rdiffdir, duplicity/**/*, testing/**/*
  py35: any of: .gitlab-ci.yaml, bin/duplicity, bin/rdiffdir, duplicity/**/*, testing/**/*
  py36: any of: .gitlab-ci.yaml, bin/duplicity, bin/rdiffdir, duplicity/**/*, testing/**/*
  py37: any of: .gitlab-ci.yaml, bin/duplicity, bin/rdiffdir, duplicity/**/*, testing/**/*
  py38: any of: .gitlab-ci.yaml, bin/duplicity, bin/rdiffdir, duplicity/**/*, testing/**/*
  py39: any of: .gitlab-ci.yaml, bin/duplicity, bin/rdiffdir, duplicity/**/*, testing/**/*
  py310: any of: .gitlab-ci.yaml, bin/duplicity, bin/rdiffdir, duplicity/**/*, testing/**/*
  py311: any of: .gitlab-ci.yaml, bin/duplicity, bin/rdiffdir, duplicity/**/*, testing/**/*
  website: any of: CHANGELOG.md, README.md, bin/*.1

chg:test: RcloneBackendTest now creates its own config.
  testing/unit/test_backend_instance.py
Due: code, py27, py35, py36, py37, py38, py39, py310, py311

chg:pkg: Minor cleanup, rm dead code.
  .gitignore
  setup.py
Due: none

chg:pkg: Fixes for handling snaps again.
  .gitignore
  setup.py
  snap/snapcraft.yaml
  tools/pushsnap
Due: none

chg:usr: CLI improvements and cleanup.
  duplicity/cli_data.py
  duplicity/cli_main.py
  duplicity/cli_util.py
  testing/unit/test_cli_main.py
Due: code, py27, py35, py36, py37, py38, py39, py310, py311

chg:usr: Add implied backup/restore back.
  duplicity/cli_main.py
  duplicity/cli_util.py
  requirements.txt
  testing/unit/test_cli_main.py
Due: code, py27, py35, py36, py37, py38, py39, py310, py311

fix:usr: Fix #712 "if cache lost. `*.sigtar.gpg` files not accessible"
  duplicity/backends/s3_boto3_backend.py
Due: code, py27, py35, py36, py37, py38, py39, py310, py311

fix:usr: S3 filename encoding
  duplicity/backends/s3_boto3_backend.py
Due: code, py27, py35, py36, py37, py38, py39, py310, py311

chg:usr: More CLI improvements.
  duplicity/cli_data.py
  duplicity/cli_main.py
  duplicity/cli_util.py
  duplicity/dup_main.py
  testing/unit/test_cli_main.py
Due: code, py27, py35, py36, py37, py38, py39, py310, py311

chg:usr: Remove pathvalidate from use. Fixes #27.
  duplicity/cli_util.py
  requirements.txt
  testing/unit/test_cli_main.py
Due: code, py27, py35, py36, py37, py38, py39, py310, py311

chg:test: Fix .gitlab-ci.yml to skip website step if no token.
  .gitlab-ci.yml
Due: none

chg:usr: Fix #24. Allow users to tune copy block size.
  duplicity/cli_data.py
  duplicity/cli_util.py
  duplicity/config.py
  duplicity/path.py
  testing/unit/test_cli_main.py
Due: code, py27, py35, py36, py37, py38, py39, py310, py311

chg:usr: Fix #709. Add docs on passphrase encryption used.
  bin/duplicity.1
Due: website

chg:test: Misc changes for compatibility.
  duplicity/dup_main.py
  duplicity/dup_time.py
  duplicity/gpg.py
  duplicity/gpginterface.py
  tox.ini
Due: code, py27, py35, py36, py37, py38, py39, py310, py311

chg:usr: Fix #716. Print filename on read error.
  duplicity/gpg.py
Due: code, py27, py35, py36, py37, py38, py39, py310, py311

chg:usr: Whoops, used f-string to fix #716. Fixed.
  duplicity/gpg.py
Due: code, py27, py35, py36, py37, py38, py39, py310, py311

chg:usr: Fixes for deprecated/changed options.
  bin/duplicity
  bin/duplicity.1
  duplicity/cli_data.py
  duplicity/cli_main.py
  duplicity/cli_util.py
  duplicity/selection.py
Due: code, py27, py35, py36, py37, py38, py39, py310, py311, website

chg:pkg: New Crowdin updates
  po/ru_RU.po
Due: none

chg:usr: Set socket default timeout in CLI.
  duplicity/backend.py
  duplicity/cli_data.py
  duplicity/cli_util.py
  duplicity/dup_main.py
Due: code, py27, py35, py36, py37, py38, py39, py310, py311

chg:dev: Some basic PEP8 and code cleanup.
  duplicity/backends/b2backend.py
  duplicity/backends/dpbxbackend.py
  duplicity/backends/idrivedbackend.py
  duplicity/backends/imapbackend.py
  duplicity/backends/megabackend.py
  duplicity/backends/pydrivebackend.py
  duplicity/backends/pyrax_identity/hubic.py
  duplicity/gpginterface.py
  duplicity/librsync.py
  duplicity/patchdir.py
  duplicity/path.py
  duplicity/robust.py
  duplicity/selection.py
  testing/unit/test_backend.py
  testing/unit/test_backend_instance.py
  tox.ini
Due: code, py27, py35, py36, py37, py38, py39, py310, py311

fix:usr: Fix #710. Missing Content-Type header on webdav.
  duplicity/backends/webdavbackend.py
Due: code, py27, py35, py36, py37, py38, py39, py310, py311

chg:pkg: Update CHANGELOG.md.
  CHANGELOG.md
Due: website

chg:pkg: Resolve some minor merge issues.
  duplicity/backends/b2backend.py
  duplicity/backends/xorrisobackend.py
  testing/functional/test_selection.py
Due: code, py27, py35, py36, py37, py38, py39, py310, py311

chg:dev: Fix PEP8 issue. Update CHANGELOG.md.
  CHANGELOG.md
  testing/functional/test_selection.py
Due: code, py27, py35, py36, py37, py38, py39, py310, py311, website

chg:dev: Fix website to only run with WEBSITE_TRIGGER_TOKEN.
  .gitlab-ci.yml
Due: none

fix:test: Remove tests for py27 and py35.
  .gitlab-ci.yml
Due: none

chg:dev: Fix syntax error in .gitlab-ci.yml.
  .gitlab-ci.yml
Due: none

fix:usr: Fix implied command when target is empty.
  duplicity/cli_main.py
  duplicity/config.py
  duplicity/dup_main.py
Due: code, py27, py35, py36, py37, py38, py39, py310, py311

chg:pkg: Update CHANGELOG.md
  CHANGELOG.md
Due: website

chg:test: Create regression test dir from old scripts.
  testing/manual/bug1893481.tgz
  testing/regression/__init__.py
  testing/regression/bug1526557.sh
  testing/regression/bug1846678.sh
  testing/regression/bug1860200.sh
  testing/regression/bug1919017.json
  testing/regression/bug1919017.sh
  testing/regression/bug487720.sh
  testing/regression/bug930151.sh
  testing/regression/issue100.sh
  testing/regression/issue103.json
  testing/regression/issue103.sh
  testing/regression/issue110-setup.sh
  testing/regression/issue110-test.sh
  testing/regression/issue125.sh
  testing/regression/issue147.sh
  testing/regression/issue25.json
  testing/regression/issue25.sh
  testing/regression/issue26.sh
  testing/regression/issue683.sh
  testing/regression/issue73.env
  testing/regression/issue73.sh
  testing/regression/issue79.json
  testing/regression/issue79.sh
  testing/regression/issue98.sh
Due: code, py27, py35, py36, py37, py38, py39, py310, py311

chg:usr: Fix implied command handling.
  duplicity/cli_main.py
Due: code, py27, py35, py36, py37, py38, py39, py310, py311

chg:usr: Some more general cleanup. !minor
  duplicity/backends/idrivedbackend.py
  duplicity/statistics.py
  testing/unit/test_diffdir.py
  testing/unit/test_patchdir.py
Due: code, py27, py35, py36, py37, py38, py39, py310, py311

chg:pkg: Changes to allow building snaps.
  requirements.txt
  snap/snapcraft.yaml
Due: none

chg:pkg: Remove kerberos from snap builds.
  tools/makesnap
Due: none

chg:usr: Fix format string in statistics.py.
  duplicity/statistics.py
Due: code, py27, py35, py36, py37, py38, py39, py310, py311

chg:usr: Fix format strings in idrivedbackend.py.
  duplicity/backends/idrivedbackend.py
Due: code, py27, py35, py36, py37, py38, py39, py310, py311
