Repository edeso/duplicity: changes, and which GitLab CI jobs are due for each by the changed paths.
All: code, py38, py39, py310, py311, website

Path conditions:
  code: any of: .gitlab-ci.yml, requirements.txt, tox.ini, bin/duplicity, duplicity/**/*, testing/**/*
  py38: any of: .gitlab-ci.yml, requirements.txt, tox.ini, bin/duplicity, duplicity/**/*, testing/**/*
  py39: any of: .gitlab-ci.yml, requirements.txt, tox.ini, bin/duplicity, duplicity/**/*, testing/**/*
  py310: any of: .gitlab-ci.yml, requirements.txt, tox.ini, bin/duplicity, duplicity/**/*, testing/**/*
  py311: any of: .gitlab-ci.yml, requirements.txt, tox.ini, bin/duplicity, duplicity/**/*, testing/**/*
  website: any of: CHANGELOG.md, README.md, bin/*.1

chg:pkg: Bump version to 2.2.4.rc3.
  duplicity/__init__.py
  man/duplicity.1
  pyproject.toml
  setup.py
  snap/snapcraft.yaml
Due: code, py38, py39, py310, py311

chg:pkg: Update changelog.
  CHANGELOG.md
Due: website

chg:pkg: Move install-requires back to setup.py.
  pyproject.toml
  setup.py
Due: none

chg:doc: !minor change to README.md.
  .gitignore
  README.md
Due: website

chg:test: Add tools/testpipx.
  tools/testpipx
Due: none

chg:pkg: Bump to version 2.2.4.
  duplicity/__init__.py
  man/duplicity.1
  pyproject.toml
  setup.py
  snap/snapcraft.yaml
Due: code, py38, py39, py310, py311

chg:pkg: Skip tests on Launchpad.
  debian/rules
Due: none

fix:usr: don't raise KeyError if OSError.errno is unrecognized
  duplicity/robust.py
Due: code, py38, py39, py310, py311

chg:pkg: Set dev branch to 2.2.5.dev.
  duplicity/__init__.py
  man/duplicity.1
  pyproject.toml
  setup.py
  snap/snapcraft.yaml
Due: code, py38, py39, py310, py311

chg:usr: CommandLineError: argument --gpg-options: expected one argument.
  duplicity/cli_data.py
  man/duplicity.1
  testing/__init__.py
  testing/unit/test_cli_main.py
Due: code, py38, py39, py310, py311

chg:pkg: Collected fixes to setup process.
  requirements.in
  requirements.txt
  setup.py
  tools/testpip
  tools/testpipx
Due: code, py38, py39, py310, py311

fix:usr: Volume missing if --asynchronous-upload and put fails
  duplicity/asyncscheduler.py
  duplicity/backend.py
  duplicity/backend_pool.py
  duplicity/backends/_testbackend.py
  duplicity/cli_data.py
  duplicity/cli_util.py
  duplicity/config.py
  duplicity/dup_collections.py
  duplicity/dup_main.py
  duplicity/dup_threading.py
  duplicity/log.py
  man/duplicity.1
  po/POTFILES.in
  testing/functional/__init__.py
  testing/functional/test_badupload.py
  testing/functional/test_cleanup.py
  testing/functional/test_concurrency.py
  testing/functional/test_restart.py
  testing/regression/issue745.sh
Due: code, py38, py39, py310, py311

chg:pkg: Run po/update-pot.
  po/POTFILES.skip
  po/duplicity.pot
Due: none

chg:pkg: New Crowdin updates.
  po/ro_RO.po
Due: none

chg:pkg: New Crowdin updates.
  po/fr_FR.po
Due: none

chg:pkg: New Crowdin updates.
  po/es_ES.po
Due: none

chg:pkg: New Crowdin updates.
  po/af_ZA.po
Due: none

chg:pkg: New Crowdin updates.
  po/ar_SA.po
Due: none

chg:pkg: New Crowdin updates.
  po/ca_ES.po
Due: none

chg:pkg: New Crowdin updates.
  po/cs_CZ.po
Due: none

chg:pkg: New Crowdin updates.
  po/da_DK.po
Due: none

chg:pkg: New Crowdin updates.
  po/de_DE.po
Due: none

chg:pkg: New Crowdin updates.
  po/el_GR.po
Due: none

chg:pkg: New Crowdin updates.
  po/fi_FI.po
Due: none

chg:pkg: New Crowdin updates.
  po/he_IL.po
Due: none

chg:pkg: New Crowdin updates.
  po/hu_HU.po
Due: none

chg:pkg: New Crowdin updates.
  po/it_IT.po
Due: none

chg:pkg: New Crowdin updates.
  po/ja_JP.po
Due: none

chg:pkg: New Crowdin updates.
  po/ko_KR.po
Due: none

chg:pkg: New Crowdin updates.
  po/nl_NL.po
Due: none

chg:pkg: New Crowdin updates.
  po/no_NO.po
Due: none

chg:pkg: New Crowdin updates.
  po/pl_PL.po
Due: none

chg:pkg: New Crowdin updates.
  po/pt_PT.po
Due: none

chg:pkg: New Crowdin updates.
  po/ru_RU.po
Due: none

chg:pkg: New Crowdin updates.
  po/sr_SP.po
Due: none

chg:pkg: New Crowdin updates.
  po/sv_SE.po
Due: none

chg:pkg: New Crowdin updates.
  po/tr_TR.po
Due: none

chg:pkg: New Crowdin updates.
  po/uk_UA.po
Due: none

chg:pkg: New Crowdin updates.
  po/zh_CN.po
Due: none
