Repository edeso/duplicity: changes, and which GitLab CI jobs are due for each by the changed paths.
All: code, py38, py39, py310, py311, website

code:
  stage: qual
  before_script:
  - export LANG=C.UTF-8
  - export LC_ALL=C.UTF-8
  - apt-get update
  - apt-get install -y build-essential git intltool lftp librsync-dev libffi-dev libssl-dev openssl par2 rdiff tzdata
  image: python:3.11
  script:
  - python3 -m pip install -r requirements.txt
  - tox -e code

py38:
  stage: test
  before_script:
  - export LANG=C.UTF-8
  - export LC_ALL=C.UTF-8
  - apt-get update
  - apt-get install -y build-essential git intltool lftp librsync-dev libffi-dev libssl-dev openssl par2 rdiff tzdata
  image: python:3.8
  script:
  - python3 -m pip install -r requirements.txt
  - tox -e py38

py39:
  stage: test
  before_script:
  - export LANG=C.UTF-8
  - export LC_ALL=C.UTF-8
  - apt-get update
  - apt-get install -y build-essential git intltool lftp librsync-dev libffi-dev libssl-dev openssl par2 rdiff tzdata
  image: python:3.9
  script:
  - python3 -m pip install -r requirements.txt
  - tox -e py39

py310:
  stage: test
  before_script:
  - export LANG=C.UTF-8
  - export LC_ALL=C.UTF-8
  - apt-get update
  - apt-get install -y build-essential git intltool lftp librsync-dev libffi-dev libssl-dev openssl par2 rdiff tzdata
  image: python:3.10
  script:
  - python3 -m pip install -r requirements.txt
  - tox -e py310

py311:
  stage: test
  before_script:
  - export LANG=C.UTF-8
  - export LC_ALL=C.UTF-8
  - apt-get update
  - apt-get install -y build-essential git intltool lftp librsync-dev libffi-dev libssl-dev openssl par2 rdiff tzdata
  image: python:3.11
  script:
  - python3 -m pip install -r requirements.txt
  - tox -e py311

website:
  stage: deploy
  image: curlimages/curl:latest
  allow_failure: true
  variables:
    GIT_STRATEGY: none
    GIT_CHECKOUT: 'false'
  script: 'curl --fail-with-body -X POST -F token=${WEBSITE_TRIGGER_TOKEN} -F ref=master https://gitlab.com/api/v4/projects/29130748/trigger/pipeline
  
    '

chg:usr: Add additional CLI checks.
  duplicity/cli_data.py
  duplicity/cli_util.py
Due: code, py38, py39, py310, py311

chg:usr: Fix format strings in idrivedbackend.py.
  duplicity/backends/idrivedbackend.py
Due: code, py38, py39, py310, py311

chg:pkg: Prep for 2.0.0rc2.
  setup.py
Due: none

chg:pkg: Prep for 2.0.0rc2.
  CHANGELOG.md
Due: website

chg:usr: Fix short filenames use in new s3 files.
  duplicity/backends/s3_boto3_backend.py
Due: code, py38, py39, py310, py311

chg:usr: Remove --s3-european-buckets used by boto.
  bin/duplicity.1
  duplicity/cli_data.py
  duplicity/cli_main.py
  duplicity/cli_util.py
  duplicity/config.py
  testing/unit/test_cli_main.py
Due: code, py38, py39, py310, py311, website

chg:usr: Remove implied command support for now.
  duplicity/cli_main.py
  testing/unit/test_cli_main.py
Due: code, py38, py39, py310, py311

chg:usr: Improve --verbosity help.
  duplicity/cli_data.py
Due: code, py38, py39, py310, py311

fix:usr: Fix Exception Type for verbosity level
  duplicity/cli_util.py
Due: code, py38, py39, py310, py311

chg:doc: Add missing user options to manpage.
  bin/duplicity.1
Due: website

chg:doc: remove boto related doc. some reformatting
  bin/duplicity.1
Due: website

fix:usr: S3 backend issues. Fixes #31
  .gitignore
  duplicity/backends/s3_boto3_backend.py
  duplicity/cli_data.py
  duplicity/cli_util.py
  duplicity/config.py
  testing/manual/backendtest.py
Due: code, py38, py39, py310, py311

fix:pkg: Prep for 2.0.0.
  setup.py
Due: none

fix:pkg: Prep for 2.0.0.
  CHANGELOG.md
Due: website

fix:test: Cannot run CLI tests on Launchpad.
  testing/unit/test_cli_main.py
Due: code, py38, py39, py310, py311

fix:test: Fix PEP8 issue.
  testing/unit/test_cli_main.py
Due: code, py38, py39, py310, py311

fix:pkg: Adjust to build under LP Mantic.
  debian/control
Due: none

fix:pkg: Adjust version to build under LP.
  setup.py
Due: none

fix:usr: Add missing import to b2backend.py. Fixes #729.
  duplicity/backends/b2backend.py
Due: code, py38, py39, py310, py311

fix:usr: Add missing import to cli_util.py. Fixes #730.
  duplicity/cli_util.py
Due: code, py38, py39, py310, py311

fix:usr: Restore pre-parser. Fixes #727.
  duplicity/cli_main.py
  testing/unit/test_cli_main.py
Due: code, py38, py39, py310, py311

chg:pkg: Prep for 2.0.1
  CHANGELOG.md
Due: website

fix:pkg: Adjust regex for 2.0.0x.
  .gitchangelog.rc
Due: none

fix:usr: enable selection options for verify. Fixes #734.
  duplicity/cli_data.py
Due: code, py38, py39, py310, py311

fix:usr: Fix *-options commands. Fixes #732.
  duplicity/cli_data.py
  duplicity/cli_util.py
  duplicity/config.py
  testing/unit/test_cli_main.py
Due: code, py38, py39, py310, py311

fix:pkg: Fix PEP8 error.
  duplicity/cli_util.py
Due: code, py38, py39, py310, py311

fix:usr: Handle --encrypt-sign-key. Fixes #736.
  duplicity/cli_data.py
  duplicity/cli_util.py
  testing/unit/test_cli_main.py
Due: code, py38, py39, py310, py311

fix:usr: Adjust to new azure module structure. Fixes #731.
  duplicity/backends/azurebackend.py
  requirements.txt
Due: code, py38, py39, py310, py311

chg:pkg: Prep for 2.0.2
  setup.py
  tools/release-prep
Due: none

chg:pkg: Update changelog.
  CHANGELOG.md
Due: website

fix:pkg: Fixes to tools/release-prep.
  tools/release-prep
Due: none

chg:pkg: Prep for 2.0.2
  tools/release-prep
Due: none

new:usr: Keep stats in files. Fixes #722.
  bin/duplicity.1
  duplicity/cli_data.py
  duplicity/config.py
  duplicity/dup_collections.py
  duplicity/dup_main.py
  duplicity/file_naming.py
  duplicity/statistics.py
  duplicity/util.py
  testing/functional/__init__.py
  testing/functional/test_cleanup.py
  testing/functional/test_final.py
  testing/unit/test_file_naming.py
Due: code, py38, py39, py310, py311, website

fix:pkg: Try import of setuptools_scm. Fixes #746.
  setup.py
Due: none

fix:usr: Replace util.fsdecode with os.fsdecode. Fixes #748.
  duplicity/backends/b2backend.py
  duplicity/backends/pcabackend.py
  duplicity/dup_collections.py
  duplicity/util.py
Due: code, py38, py39, py310, py311

new:usr: log a warning when using dangerous --asynchronous-upload option
  duplicity/cli_data.py
  duplicity/cli_util.py
Due: code, py38, py39, py310, py311

new:usr: Skip inc backup if nothing has changed.
  bin/duplicity.1
  duplicity/cli_data.py
  duplicity/config.py
  duplicity/dup_main.py
  duplicity/dup_temp.py
  duplicity/statistics.py
  testing/functional/test_final.py
Due: code, py38, py39, py310, py311, website

fix:usr: Implement implied commands via pre parsing. Fixes #733.
  bin/duplicity.1
  duplicity/cli_data.py
  duplicity/cli_main.py
  duplicity/cli_util.py
  duplicity/config.py
  duplicity/dup_main.py
  testing/unit/test_cli_main.py
Due: code, py38, py39, py310, py311, website

chg:pkg: Run po/update-pot.
  po/POTFILES.in
  po/POTFILES.skip
  po/duplicity.pot
  po/update-pot
Due: none

Path conditions:
  code: any of: .gitlab-ci.yml, requirements.txt, tox.ini, bin/duplicity, duplicity/**/*, testing/**/*
  py38: any of: .gitlab-ci.yml, requirements.txt, tox.ini, bin/duplicity, duplicity/**/*, testing/**/*
  py39: any of: .gitlab-ci.yml, requirements.txt, tox.ini, bin/duplicity, duplicity/**/*, testing/**/*
  py310: any of: .gitlab-ci.yml, requirements.txt, tox.ini, bin/duplicity, duplicity/**/*, testing/**/*
  py311: any of: .gitlab-ci.yml, requirements.txt, tox.ini, bin/duplicity, duplicity/**/*, testing/**/*
  website: any of: CHANGELOG.md, README.md, bin/*.1
