Repository edeso/duplicity: changes, and which GitLab CI jobs are due for each by the changed paths.
All: code, py27, py35, py36, py37, py38, py39, py310, py311, website

Path conditions:
  code: any of: .gitlab-ci.yaml, bin/duplicity, bin/rdiffdir, duplicity/**/*, testing/**/*
  py27: any of: .gitlab-ci.yaml, bin/duplicity, bin/rdiffdir, duplicity/**/*, testing/**/*
  py35: any of: .gitlab-ci.yaml, bin/duplicity, bin/rdiffdir, duplicity/**/*, testing/**/*
  py36: any of: .gitlab-ci.yaml, bin/duplicity, bin/rdiffdir, duplicity/**/*, testing/**/*
  py37: any of: .gitlab-ci.yaml, bin/duplicity, bin/rdiffdir, duplicity/**/*, testing/**/*
  py38: any of: .gitlab-ci.yaml, bin/duplicity, bin/rdiffdir, duplicity/**/*, testing/**/*
  py39: any of: .gitlab-ci.yaml, bin/duplicity, bin/rdiffdir, duplicity/**/*, testing/**/*
  py310: any of: .gitlab-ci.yaml, bin/duplicity, bin/rdiffdir, duplicity/**/*, testing/**/*
  py311: any of: .gitlab-ci.yaml, bin/duplicity, bin/rdiffdir, duplicity/**/*, testing/**/*
  website: any of: CHANGELOG.md, README.md, bin/*.1

chg:pkg: Misc changes. !minor
  duplicity/util.py
  po/duplicity.pot
  testing/__init__.py
  testing/manual/issue147.sh
Due: code, py27, py35, py36, py37, py38, py39, py310, py311

fix:usr: Regression on issue #147, change password for incremental.
  duplicity/dup_collections.py
  testing/manual/issue147.sh
Due: code, py27, py35, py36, py37, py38, py39, py310, py311

fix:test: Fix super() call in test_selection.py.
  testing/functional/test_selection.py
Due: code, py27, py35, py36, py37, py38, py39, py310, py311

chg:pkg: Change optparse to argparse. Checkpoint.
  duplicity/cli_main.py
  duplicity/cli_util.py
  duplicity/config.py
  duplicity/diffdir.py
  duplicity/dup_main.py
  duplicity/gpg.py
  duplicity/log.py
  duplicity/statistics.py
  duplicity/util.py
  requirements.txt
  testing/__init__.py
  testing/functional/__init__.py
  testing/functional/test_cleanup.py
  testing/functional/test_final.py
  testing/functional/test_selection.py
  testing/unit/test_cli_main.py
Due: code, py27, py35, py36, py37, py38, py39, py310, py311

fix:usr: Fix #692. Redundant --encrypt option added in gpg.py.
  duplicity/gpg.py
Due: code, py27, py35, py36, py37, py38, py39, py310, py311

fix:usr: Fix to work with b2sdk 1.19.0
  duplicity/backends/b2backend.py
Due: code, py27, py35, py36, py37, py38, py39, py310, py311

chg:pkg: Update duplicity.pot.
  po/duplicity.pot
Due: none

chg:test: _runtest_dir on Darwin may use TMPDIR for testing.
  testing/__init__.py
Due: code, py27, py35, py36, py37, py38, py39, py310, py311

chg:pkg: Prep for 1.2.2
  setup.py
Due: none

chg:pkg: Prep for 1.2.2
  CHANGELOG.md
Due: website

chg:pkg: Update version for Launchpad.
  setup.py
Due: none

chg:pkg: Change optparse to argparse. Checkpoint.
  duplicity/backends/_boto_single.py
  duplicity/backends/b2backend.py
  duplicity/backends/boxbackend.py
  duplicity/backends/dpbxbackend.py
  duplicity/backends/gdocsbackend.py
  duplicity/backends/gdrivebackend.py
  duplicity/backends/giobackend.py
  duplicity/backends/localbackend.py
  duplicity/backends/megabackend.py
  duplicity/backends/pydrivebackend.py
  duplicity/backends/pyrax_identity/hubic.py
  duplicity/backends/s3_boto3_backend.py
  duplicity/backends/slatebackend.py
  duplicity/backends/webdavbackend.py
  duplicity/diffdir.py
  duplicity/dup_collections.py
  duplicity/dup_main.py
  duplicity/dup_time.py
  duplicity/gpg.py
  duplicity/path.py
  duplicity/progress.py
  duplicity/selection.py
  duplicity/statistics.py
  duplicity/util.py
  testing/__init__.py
  testing/functional/test_final.py
  testing/unit/test_dup_time.py
Due: code, py27, py35, py36, py37, py38, py39, py310, py311

new:usr: Onedrive for Business Support
  bin/duplicity.1
  duplicity/backends/onedrivebackend.py
Due: code, py27, py35, py36, py37, py38, py39, py310, py311, website

try to fix
  .gitlab-ci.yml
Due: none

fix typo
  .gitlab-ci.yml
Due: none

chg:pkg: fix run website ci call after pushes/releases
  .gitlab-ci.yml
Due: none

chg:dev: Update Makefile 'make clean' list.
  Makefile
Due: none

chg:pkg: Change optparse to argparse. Checkpoint.
  Makefile
  duplicity/backends/boxbackend.py
  duplicity/cli_data.py
  duplicity/cli_util.py
  duplicity/lazy.py
  duplicity/progress.py
  duplicity/util.py
  setup.py
  testing/__init__.py
  testing/functional/__init__.py
  testing/functional/test_final.py
  testing/functional/test_selection.py
  testing/test_code.py
  testing/unit/test_selection.py
Due: code, py27, py35, py36, py37, py38, py39, py310, py311

chg:pkg: Change optparse to argparse. Checkpoint.
  duplicity/cli_data.py
  duplicity/cli_main.py
  duplicity/util.py
  testing/functional/test_log.py
Due: code, py27, py35, py36, py37, py38, py39, py310, py311

chg:pkg: Change optparse to argparse. Checkpoint.
  duplicity/cli_main.py
  duplicity/cli_util.py
  duplicity/util.py
  testing/functional/test_selection.py
  testing/test_code.py
Due: code, py27, py35, py36, py37, py38, py39, py310, py311

fix:usr: Onedrive may hang indefinitely. Fixes #695.
  duplicity/backends/onedrivebackend.py
Due: code, py27, py35, py36, py37, py38, py39, py310, py311

fix:usr: Encoding errors when logging. Fixes #693.
  duplicity/util.py
Due: code, py27, py35, py36, py37, py38, py39, py310, py311

fix:dev: Misc fixes to testing/build environ.
  .gitignore
  .gitlab-ci.yml
  bin/duplicity
  duplicity/util.py
  testing/functional/test_final.py
  testing/unit/test_path.py
Due: code, py27, py35, py36, py37, py38, py39, py310, py311

fix:dev: Fix PEP8 and todo issues.
  duplicity/util.py
  testing/functional/test_final.py
Due: code, py27, py35, py36, py37, py38, py39, py310, py311

fix:dev: Remove dependency scanner.
  .gitlab-ci.yml
Due: none

fix:dev: Revert to medieval string formatting.
  duplicity/util.py
Due: code, py27, py35, py36, py37, py38, py39, py310, py311

fix:test: Skip test_path::test_compare on non-native.
  testing/unit/test_path.py
Due: code, py27, py35, py36, py37, py38, py39, py310, py311

fix:test: Skip test_path::test_compare on non-native.
  .gitlab-ci.yml
  testing/unit/test_path.py
Due: code, py27, py35, py36, py37, py38, py39, py310, py311

fix:test: Skip test_path::test_compare on non-native.
  tox.ini
Due: none

fix:test: Skip test_path::test_compare on non-native.
  .gitlab-ci.yml
Due: none

fix:usr: Fixes #686 - PCA backend does not unseal volumes.
  duplicity/backends/pcabackend.py
Due: code, py27, py35, py36, py37, py38, py39, py310, py311
