Repository edeso/duplicity: changes, and which GitLab CI jobs are due for each by the changed paths.
All: code, py27, py35, py36, py37, py38, py39, py310, py311, website

code:
  stage: qual
  image: ubuntu:18.04
  script:
  - python3 -m pip install --upgrade pip
  - python3 -m pip install -r requirements.txt
  - apt-get install -y python3.8 python3.8-dev
  - tox -e code

py27:
  stage: test
  image: ubuntu:16.04
  script:
  - apt-get install -y python2.7 python2.7-dev
  - tox -e py27
  allow_failure: true

py35:
  stage: test
  image: ubuntu:18.04
  script:
  - python3 -m pip install --upgrade pip
  - python3 -m pip install -r requirements.txt
  - apt-get install -y python3.5 python3.5-dev
  - tox -e py35
  allow_failure: true

py36:
  stage: test
  image: ubuntu:18.04
  script:
  - python3 -m pip install --upgrade pip
  - python3 -m pip install -r requirements.txt
  - apt-get install -y python3.6 python3.6-dev
  - tox -e py36
  allow_failure: true

py37:
  stage: test
  image: ubuntu:20.04
  script:
  - python3 -m pip install --upgrade pip
  - python3 -m pip install -r requirements.txt
  - apt-get install -y python3.7 python3.7-dev
  - tox -e py37

py38:
  stage: test
  image: ubuntu:20.04
  script:
  - python3 -m pip install --upgrade pip
  - python3 -m pip install -r requirements.txt
  - apt-get install -y python3.8 python3.8-dev
  - tox -e py38

py39:
  stage: test
  image: ubuntu:20.04
  script:
  - python3 -m pip install --upgrade pip
  - python3 -m pip install -r requirements.txt
  - apt-get install -y python3.9 python3.9-dev
  - tox -e py39

py310:
  stage: test
  image: ubuntu:22.04
  script:
  - python3 -m pip install --upgrade pip
  - python3 -m pip install -r requirements.txt
  - apt-get install -y python3.11 python3.11-dev
  - tox -e py310

py311:
  stage: test
  image: ubuntu:22.04
  script:
  - python3 -m pip install --upgrade pip
  - python3 -m pip install -r requirements.txt
  - apt-get install -y python3.11 python3.11-dev
  - tox -e py311

website:
  stage: deploy
  allow_failure: true
  variables:
    GIT_STRATEGY: none
    GIT_CHECKOUT: 'false'
  image: curlimages/curl:latest
  script: 'curl --fail-with-body -X POST -F token=${WEBSITE_TRIGGER_TOKEN} -F ref=master https://gitlab.com/api/v4/projects/29130748/trigger/pipeline
  
    '

chg:pkg: Cleanup. Add 'unsquashfs -l' test from @ede.
  tools/pushsnap
  tools/testsnap
Due: none

fix:usr: Fixes #698 - backups without GPG decryption key.
  bin/duplicity.1
  duplicity/commandline.py
  duplicity/config.py
  duplicity/dup_collections.py
Due: code, py27, py35, py36, py37, py38, py39, py310, py311, website

fix:usr: Fixes #698 - backups without GPG decryption key.
  duplicity/commandline.py
Due: code, py27, py35, py36, py37, py38, py39, py310, py311

chg:usr: Fix spelling errors.
  bin/duplicity.1
  duplicity/backends/slatebackend.py
  duplicity/gpginterface.py
Due: code, py27, py35, py36, py37, py38, py39, py310, py311, website

fix:usr: Fixes #701 - unable to resume full backup to B2.
  duplicity/backends/b2backend.py
Due: code, py27, py35, py36, py37, py38, py39, py310, py311

chg:pkg: Update CHANGELOG.md.
  CHANGELOG.md
Due: website

chg:doc: Change readthedocs.yaml.
  readthedocs.yaml
Due: none

chg:doc: More ReadTheDocs changes.
  docs/Makefile
Due: none

chg:doc: More ReadTheDocs changes.
  readthedocs.yaml
Due: none

chg:doc: More ReadTheDocs changes.
  Makefile
  docs/Makefile
  readthedocs.yaml
Due: none

chg:pkg: New Crowdin updates.
  po/en_US.po
Due: none

chg:doc: More ReadTheDocs changes.
  Makefile
  docs/Makefile
  docs/README.md
  docs/make.bat
Due: none

chg:doc: More ReadTheDocs changes.
  README.md
Due: website

chg:doc: Update readthedocs.yaml
  readthedocs.yaml
Due: none

chg:doc: Port ReadTheDocs changes from main branch
  .gitignore
  docs/Makefile
  docs/README.md
  docs/conf.py
  docs/make.bat
  readthedocs.yaml
Due: none

chg:doc: Port ReadTheDocs changes from main branch
  Makefile
Due: none

chg:doc: Whoops, still need Makefile in docs.
  docs/Makefile
Due: none

chg:doc: Update a couple of lists in conf.py.
  docs/conf.py
Due: none

fix:usr: Warn rather than fail on op-not-supported restore errors
  duplicity/robust.py
Due: code, py27, py35, py36, py37, py38, py39, py310, py311

new:usr: Xorriso backend for optical media
  bin/duplicity.1
  duplicity/backends/xorrisobackend.py
  testing/unit/test_backend.py
Due: code, py27, py35, py36, py37, py38, py39, py310, py311, website

chg:dev: Some py2 to py3 cleanup.
  duplicity/backend.py
  duplicity/backends/idrivedbackend.py
  duplicity/backends/ssh_pexpect_backend.py
  duplicity/diffdir.py
  duplicity/dup_collections.py
  duplicity/dup_main.py
  duplicity/dup_time.py
  duplicity/gpg.py
  duplicity/lazy.py
  duplicity/manifest.py
  duplicity/patchdir.py
  duplicity/path.py
  duplicity/robust.py
  duplicity/util.py
  testing/manual/roottest.py
  testing/test_code.py
  testing/unit/test_diffdir.py
  testing/unit/test_dup_time.py
  testing/unit/test_gpginterface.py
  testing/unit/test_patchdir.py
Due: code, py27, py35, py36, py37, py38, py39, py310, py311

fix:pkg: Use cryptography == 3.4.8.
  requirements.txt
Due: none

chg:pkg: Change optparse to argparse. Checkpoint.
  .gitlab-ci.yml
  README.md
  duplicity/cli_data.py
  duplicity/cli_main.py
  duplicity/cli_util.py
  duplicity/config.py
  duplicity/gpginterface.py
  readthedocs.yaml
  requirements.txt
  setup.py
  testing/docker/duplicity_test/Dockerfile
  testing/functional/test_final.py
  tox.ini
Due: code, py27, py35, py36, py37, py38, py39, py310, py311, website

chg:pkg: Change optparse to argparse. Checkpoint.
  duplicity/cli_data.py
  duplicity/cli_main.py
  duplicity/cli_util.py
  duplicity/config.py
  duplicity/dup_collections.py
  duplicity/dup_main.py
  duplicity/path.py
  duplicity/util.py
  testing/functional/__init__.py
  testing/unit/test_cli_main.py
Due: code, py27, py35, py36, py37, py38, py39, py310, py311

chg:pkg: Change optparse to argparse. Checkpoint.
  duplicity/cli_data.py
  duplicity/cli_main.py
  duplicity/cli_util.py
  duplicity/config.py
  duplicity/dup_main.py
  duplicity/lazy.py
  duplicity/log.py
  duplicity/manifest.py
  testing/functional/__init__.py
  testing/functional/test_final.py
  testing/functional/test_log.py
  testing/functional/test_restart.py
  testing/unit/test_cli_main.py
  testing/unit/test_patchdir.py
Due: code, py27, py35, py36, py37, py38, py39, py310, py311

chg:pkg: Change optparse to argparse. Checkpoint.
  duplicity/cli_util.py
Due: code, py27, py35, py36, py37, py38, py39, py310, py311

chg:pkg: Change optparse to argparse. Checkpoint.
  duplicity/cli_data.py
Due: code, py27, py35, py36, py37, py38, py39, py310, py311

chg:pkg: Change optparse to argparse. Checkpoint.
  duplicity/cli_data.py
  duplicity/cli_util.py
  testing/unit/test_cli_main.py
Due: code, py27, py35, py36, py37, py38, py39, py310, py311

chg:pkg: Clean out the last py2 cruft, I hope.
  README.md
  duplicity/backend.py
  duplicity/backends/webdavbackend.py
  duplicity/config.py
  duplicity/dup_main.py
  duplicity/dup_threading.py
  duplicity/path.py
  duplicity/util.py
  testing/unit/test_backend.py
Due: code, py27, py35, py36, py37, py38, py39, py310, py311, website

chg:pkg: Some small command line fixes.
  duplicity/cli_util.py
  duplicity/dup_main.py
Due: code, py27, py35, py36, py37, py38, py39, py310, py311

chg:pkg: Normalize error handling in cli_util.py.
  duplicity/cli_util.py
Due: code, py27, py35, py36, py37, py38, py39, py310, py311

chg:pkg: Some cli cleanup for subcommands.
  duplicity/cli_data.py
  duplicity/cli_main.py
  duplicity/cli_util.py
Due: code, py27, py35, py36, py37, py38, py39, py310, py311

chg:pkg: Add error/ignored msg for deprecated options.
  duplicity/cli_data.py
  duplicity/cli_util.py
  duplicity/log.py
  testing/unit/test_cli_main.py
Due: code, py27, py35, py36, py37, py38, py39, py310, py311

chg:pkg: Whoops, fix code style.
  duplicity/cli_util.py
  testing/unit/test_cli_main.py
Due: code, py27, py35, py36, py37, py38, py39, py310, py311

chg:pkg: Requirements and code cleanup.
  duplicity/backends/b2backend.py
  duplicity/dup_threading.py
  requirements.txt
  testing/unit/test_cli_main.py
Due: code, py27, py35, py36, py37, py38, py39, py310, py311

chg:pkg: Fix code, tests, and do cleanup.
  .pylintrc
  duplicity/cli_data.py
  duplicity/cli_main.py
  duplicity/cli_util.py
  requirements.txt
  testing/test_code.py
  testing/unit/test_cli_main.py
Due: code, py27, py35, py36, py37, py38, py39, py310, py311

chg:pkg: Whoops, don't move import_backends.
  duplicity/cli_main.py
Due: code, py27, py35, py36, py37, py38, py39, py310, py311

Path conditions:
  code: any of: .gitlab-ci.yaml, bin/duplicity, bin/rdiffdir, duplicity/**/*, testing/**/*
  py27: any of: .gitlab-ci.yaml, bin/duplicity, bin/rdiffdir, duplicity/**/*, testing/**/*
  py35: any of: .gitlab-ci.yaml, bin/duplicity, bin/rdiffdir, duplicity/**/*, testing/**/*
  py36: any of: .gitlab-ci.yaml, bin/duplicity, bin/rdiffdir, duplicity/**/*, testing/**/*
  py37: any of: .gitlab-ci.yaml, bin/duplicity, bin/rdiffdir, duplicity/**/*, testing/**/*
  py38: any of: .gitlab-ci.yaml, bin/duplicity, bin/rdiffdir, duplicity/**/*, testing/**/*
  py39: any of: .gitlab-ci.yaml, bin/duplicity, bin/rdiffdir, duplicity/**/*, testing/**/*
  py310: any of: .gitlab-ci.yaml, bin/duplicity, bin/rdiffdir, duplicity/**/*, testing/**/*
  py311: any of: .gitlab-ci.yaml, bin/duplicity, bin/rdiffdir, duplicity/**/*, testing/**/*
  website: any of: CHANGELOG.md, README.md, bin/*.1
