Repository edeso/duplicity: changes, and which GitLab CI jobs are due for each by the changed paths.
All: code, py38, py39, py310, py311, website

code:
  stage: qual
  before_script:
  - export LANG=C.UTF-8
  - export LC_ALL=C.UTF-8
  - apt-get update
  - apt-get install -y build-essential git intltool lftp librsync-dev libffi-dev libssl-dev openssl par2 rdiff tzdata
  image: python:3.11
  script:
  - python3 -m pip install -r requirements.txt
  - tox -e code

py38:
  stage: test
  before_script:
  - export LANG=C.UTF-8
  - export LC_ALL=C.UTF-8
  - apt-get update
  - apt-get install -y build-essential git intltool lftp librsync-dev libffi-dev libssl-dev openssl par2 rdiff tzdata
  image: python:3.8
  script:
  - python3 -m pip install -r requirements.txt
  - tox -e py38

py39:
  stage: test
  before_script:
  - export LANG=C.UTF-8
  - export LC_ALL=C.UTF-8
  - apt-get update
  - apt-get install -y build-essential git intltool lftp librsync-dev libffi-dev libssl-dev openssl par2 rdiff tzdata
  image: python:3.9
  script:
  - python3 -m pip install -r requirements.txt
  - tox -e py39

py310:
  stage: test
  before_script:
  - export LANG=C.UTF-8
  - export LC_ALL=C.UTF-8
  - apt-get update
  - apt-get install -y build-essential git intltool lftp librsync-dev libffi-dev libssl-dev openssl par2 rdiff tzdata
  image: python:3.10
  script:
  - python3 -m pip install -r requirements.txt
  - tox -e py310

py311:
  stage: test
  before_script:
  - export LANG=C.UTF-8
  - export LC_ALL=C.UTF-8
  - apt-get update
  - apt-get install -y build-essential git intltool lftp librsync-dev libffi-dev libssl-dev openssl par2 rdiff tzdata
  image: python:3.11
  script:
  - python3 -m pip install -r requirements.txt
  - tox -e py311

website:
  stage: deploy
  image: curlimages/curl:latest
  allow_failure: true
  variables:
    GIT_STRATEGY: none
    GIT_CHECKOUT: 'false'
  script: 'curl --fail-with-body -X POST -F token=${WEBSITE_TRIGGER_TOKEN} -F ref=master https://gitlab.com/api/v4/projects/29130748/trigger/pipeline
  
    '

chg:pkg: Prep for 2.1.3
  setup.py
Due: none

chg:pkg: Update changelog.
  CHANGELOG.md
Due: website

chg:pkg: Update version for LP.
  setup.py
Due: none

chg:usr: --asynchronous-upload is not parsed correctly
  duplicity/cli_data.py
  duplicity/cli_util.py
  testing/unit/test_cli_main.py
Due: code, py38, py39, py310, py311

fix:usr: --full-if-older-than being ignored?
  duplicity/dup_main.py
  testing/unit/test_cli_main.py
Due: code, py38, py39, py310, py311

fix:usr: Print help on empty commandline.
  duplicity/cli_main.py
Due: code, py38, py39, py310, py311

fix:usr: Print command line error on empty commandline.
  duplicity/cli_main.py
Due: code, py38, py39, py310, py311

chg:pkg: Run po/update-pot.
  po/duplicity.pot
Due: none

chg:pkg: Prep for 2.1.4
  setup.py
Due: none

chg:pkg: Limit range of versions in setup.py.
  setup.py
Due: none

chg:pkg: Fix check of versions in setup.py.
  setup.py
Due: none

chg:pkg: Some formatting fixes.
  duplicity/cli_data.py
Due: code, py38, py39, py310, py311

new:test: _testbackend to simulate issues
  duplicity/backends/_testbackend.py
  duplicity/util.py
  testing/functional/__init__.py
  testing/functional/test_badupload.py
Due: code, py38, py39, py310, py311

chg:pkg: Add venv* to .gitignore.
  .gitignore
Due: none

fix:usr: Fix collection-status with file-changed argument
  duplicity/dup_collections.py
Due: code, py38, py39, py310, py311

chg:usr: Fix swift uploads to default to 5GB segment size
  duplicity/config.py
Due: code, py38, py39, py310, py311

fix:usr: multibackend not working with remove-all-but-n-full in stripe mode.
  duplicity/backends/multibackend.py
  testing/regression/bug1919017.sh
  testing/regression/issue781.json
  testing/regression/issue781.sh
Due: code, py38, py39, py310, py311

chg:pkg: setuptools_scm not needed at runtime.
  setup.py
Due: none

new:usr: More improvements.
  duplicity/hardlinks.py
Due: code, py38, py39, py310, py311

new:usr: Fix size saved calc.
  duplicity/hardlinks.py
Due: code, py38, py39, py310, py311

new:usr: Add some print.
  duplicity/hardlinks.py
Due: code, py38, py39, py310, py311

new:usr: Add output file.
  duplicity/hardlinks.py
Due: code, py38, py39, py310, py311

new:usr: Refactor. Ignore common errors. Less print.
  duplicity/hardlinks.py
Due: code, py38, py39, py310, py311

new:usr: Start process of handling hardlinks.
  duplicity/hardlinks.py
  requirements.txt
Due: code, py38, py39, py310, py311

chg:usr: Deprecate PyDrive backend. Replaced with GDrive backend.
  duplicity/backends/pydrivebackend.py
Due: code, py38, py39, py310, py311

chg:test: Move addhandler() to __init__.
  duplicity/backends/_testbackend.py
Due: code, py38, py39, py310, py311

chg:test: Fix imports in _testbackend.py
  duplicity/backends/_testbackend.py
Due: code, py38, py39, py310, py311

new:usr: Add docs (class docs from PyCharm's AI Assistant).
  duplicity/hardlinks.py
  duplicity/selection.py
Due: code, py38, py39, py310, py311

new:usr: Fix pylint error.
  duplicity/hardlinks.py
Due: code, py38, py39, py310, py311

new:usr: Fix print_summary.
  duplicity/hardlinks.py
Due: code, py38, py39, py310, py311

Path conditions:
  code: any of: .gitlab-ci.yml, requirements.txt, tox.ini, bin/duplicity, duplicity/**/*, testing/**/*
  py38: any of: .gitlab-ci.yml, requirements.txt, tox.ini, bin/duplicity, duplicity/**/*, testing/**/*
  py39: any of: .gitlab-ci.yml, requirements.txt, tox.ini, bin/duplicity, duplicity/**/*, testing/**/*
  py310: any of: .gitlab-ci.yml, requirements.txt, tox.ini, bin/duplicity, duplicity/**/*, testing/**/*
  py311: any of: .gitlab-ci.yml, requirements.txt, tox.ini, bin/duplicity, duplicity/**/*, testing/**/*
  website: any of: CHANGELOG.md, README.md, bin/*.1
