Repository edeso/duplicity: changes, and which GitLab CI jobs are due for each by the changed paths.
All: code, py38, py39, py310, py311, website

Path conditions:
  code: any of: .gitlab-ci.yml, requirements.txt, tox.ini, bin/duplicity, duplicity/**/*, testing/**/*
  py38: any of: .gitlab-ci.yml, requirements.txt, tox.ini, bin/duplicity, duplicity/**/*, testing/**/*
  py39: any of: .gitlab-ci.yml, requirements.txt, tox.ini, bin/duplicity, duplicity/**/*, testing/**/*
  py310: any of: .gitlab-ci.yml, requirements.txt, tox.ini, bin/duplicity, duplicity/**/*, testing/**/*
  py311: any of: .gitlab-ci.yml, requirements.txt, tox.ini, bin/duplicity, duplicity/**/*, testing/**/*
  website: any of: CHANGELOG.md, README.md, bin/*.1

chg:dev: Remove "backup" and "replicate" dead code.
  duplicity/dup_collections.py
  duplicity/dup_main.py
Due: code, py38, py39, py310, py311

fix:usr: Fix imports in boxbackend.py.
  duplicity/backends/boxbackend.py
Due: code, py38, py39, py310, py311

fix:usr: Error on dry-run with verify.
  duplicity/cli_main.py
  testing/unit/test_cli_main.py
Due: code, py38, py39, py310, py311

fix:usr: Swap implied and removed action checks
  duplicity/cli_main.py
Due: code, py38, py39, py310, py311

chg:pkg: Run po/update-pot.
  po/POTFILES.in
  po/duplicity.pot
Due: none

chg:pkg: Prep for 2.1.5
  setup.py
Due: none

chg:pkg: Update changelog.
  CHANGELOG.md
Due: website

chg:pkg: Version as 2.1.5.
  bin/duplicity.1
  duplicity/__init__.py
  snap/snapcraft.yaml
Due: code, py38, py39, py310, py311, website

chg:pkg: Fix debian/rules for versioned.
  debian/rules
Due: none

new:usr: Move to tools. Add hardlinks_pool.py.
  tools/hardlinks.py
  tools/hardlinks_pool.py
Due: none

new:usr: Checkpoint.
  tools/hardlinks_pool.py
Due: none

chg:pkg: Version as 2.2.0
  duplicity/__init__.py
  man/duplicity.1
  pyproject.toml
  setup.py
  snap/snapcraft.yaml
Due: code, py38, py39, py310, py311

chg:dev: Allow pipelines to run if not merge request.
  .gitlab-ci.yml
Due: code, py38, py39, py310, py311

chg:pkg: Remove support for old mock
  debian/control
  pyproject.toml
  requirements.txt
  setup.py
  testing/unit/test_backend.py
  testing/unit/test_globmatch.py
  testing/unit/test_manifest.py
  testing/unit/test_selection.py
Due: code, py38, py39, py310, py311

chg:pkg: Run po/update-pot.
  po/POTFILES.in
  po/POTFILES.skip
  po/duplicity.pot
  po/update-pot
Due: none

chg:pkg: Cleanup. !minor
  .gitlab-ci.yml
  Makefile
Due: code, py38, py39, py310, py311

fix:usr: Invalid option error using `--[gpg|par2|rsync|ssh]-options '...'
  duplicity/cli_data.py
  duplicity/cli_main.py
  testing/unit/test_cli_main.py
Due: code, py38, py39, py310, py311

fix:test: Remove test_GPGWriteFile.
  testing/unit/test_gpg.py
Due: code, py38, py39, py310, py311

fix:test: !minor PEP8 fix.
  testing/unit/test_gpg.py
Due: code, py38, py39, py310, py311

chg:test: Use pytest not tox on GitLab CI.
  .gitlab-ci.yml
Due: code, py38, py39, py310, py311

chg:pkg: Prep for 2.2.1
  CHANGELOG.md
  duplicity/__init__.py
  man/duplicity.1
  pyproject.toml
  setup.py
  snap/snapcraft.yaml
  tools/release-prep
Due: code, py38, py39, py310, py311, website

chg:pkg: update `python_requires` to allow py3.12
  pyproject.toml
  setup.py
Due: none

fix:pkg: Add duplicity console script.
  debian/compat
  debian/control
  debian/duplicity.sh
  debian/rules
Due: none

fix:pkg: Clean up debian/rules.
  debian/rules
Due: none

chg:usr: Ask google_auth_oauthlib not to open browser during authentication flow
  duplicity/backends/gdrivebackend.py
Due: code, py38, py39, py310, py311

chg:pkg: Prep for 2.2.2
  duplicity/__init__.py
  man/duplicity.1
  pyproject.toml
  setup.py
  snap/snapcraft.yaml
Due: code, py38, py39, py310, py311

chg:usr: Remove last of bin/duplicity.
  tools/list_python_files
Due: none

chg:usr: Warn on symmetric encrypt with --use-agent.
  duplicity/cli_main.py
Due: code, py38, py39, py310, py311
