Repository edeso/duplicity: changes, and which GitLab CI jobs are due for each by the changed paths.
All: code, py27, py35, py36, py37, py38, py39, py310, py311, website

code:
  stage: qual
  image: ubuntu:18.04
  script:
  - python3 -m pip install --upgrade pip
  - python3 -m pip install -r requirements.txt
  - apt-get install -y python3.8 python3.8-dev
  - tox -e code

py27:
  stage: test
  image: ubuntu:16.04
  script:
  - apt-get install -y python2.7 python2.7-dev
  - tox -e py27
  allow_failure: true

py35:
  stage: test
  image: ubuntu:18.04
  script:
  - python3 -m pip install --upgrade pip
  - python3 -m pip install -r requirements.txt
  - apt-get install -y python3.5 python3.5-dev
  - tox -e py35
  allow_failure: true

py36:
  stage: test
  image: ubuntu:18.04
  script:
  - python3 -m pip install --upgrade pip
  - python3 -m pip install -r requirements.txt
  - apt-get install -y python3.6 python3.6-dev
  - tox -e py36
  allow_failure: true

py37:
  stage: test
  image: ubuntu:20.04
  script:
  - python3 -m pip install --upgrade pip
  - python3 -m pip install -r requirements.txt
  - apt-get install -y python3.7 python3.7-dev
  - tox -e py37

py38:
  stage: test
  image: ubuntu:20.04
  script:
  - python3 -m pip install --upgrade pip
  - python3 -m pip install -r requirements.txt
  - apt-get install -y python3.8 python3.8-dev
  - tox -e py38

py39:
  stage: test
  image: ubuntu:20.04
  script:
  - python3 -m pip install --upgrade pip
  - python3 -m pip install -r requirements.txt
  - apt-get install -y python3.9 python3.9-dev
  - tox -e py39

py310:
  stage: test
  image: ubuntu:22.04
  script:
  - python3 -m pip install --upgrade pip
  - python3 -m pip install -r requirements.txt
  - apt-get install -y python3.11 python3.11-dev
  - tox -e py310

py311:
  stage: test
  image: ubuntu:22.04
  script:
  - python3 -m pip install --upgrade pip
  - python3 -m pip install -r requirements.txt
  - apt-get install -y python3.11 python3.11-dev
  - tox -e py311

website:
  stage: deploy
  allow_failure: true
  variables:
    GIT_STRATEGY: none
    GIT_CHECKOUT: 'false'
  image: curlimages/curl:latest
  script: 'curl --fail-with-body -X POST -F token=${WEBSITE_TRIGGER_TOKEN} -F ref=master https://gitlab.com/api/v4/projects/29130748/trigger/pipeline
  
    '

chg:dev: Go back to standard tests, no master image.
  .gitlab-ci.yml
Due: none

chg:dev: Go back to standard tests, no master image.
  .gitlab-ci.yml
  duplicity/backends/b2backend.py
Due: code, py27, py35, py36, py37, py38, py39, py310, py311

chg:dev: Fix name in .gitlab-ci.yml.
  .gitlab-ci.yml
Due: none

chg:dev: New Crowdin updates
  po/en_US.po
Due: none

chg:dev: Remove gpg_error_codes.py / update duplicity.pot.
  duplicity/gpg.py
  duplicity/gpg_error_codes.py
  po/POTFILES.in
  po/duplicity.pot
  tools/make_gpg_error_codes.py
Due: code, py27, py35, py36, py37, py38, py39, py310, py311

chg:usr: Change optparse to argparse. Checkpoint.
  duplicity/commandline.py
  duplicity/config.py
  testing/unit/test_commandline.py
Due: code, py27, py35, py36, py37, py38, py39, py310, py311

chg:test: Always run pipeline after MR approval.
  .gitlab-ci.yml
Due: none

chg:test: Don't run start_debugger till after logging started.
  bin/duplicity
  duplicity/util.py
Due: code, py27, py35, py36, py37, py38, py39, py310, py311

chg:test: Add test case for issue #683.
  testing/manual/issue683.sh
Due: code, py27, py35, py36, py37, py38, py39, py310, py311

chg:usr: Change optparse to argparse. Checkpoint.
  duplicity/cli_main.py
  duplicity/cli_usage.py
  duplicity/config.py
  duplicity/dup_main.py
  duplicity/selection.py
  testing/unit/test_commandline.py
Due: code, py27, py35, py36, py37, py38, py39, py310, py311

fix:usr: Fix for issue #683.
  duplicity/dup_collections.py
  duplicity/dup_main.py
  testing/manual/issue683.sh
Due: code, py27, py35, py36, py37, py38, py39, py310, py311

chg:pkg: Update duplicity.pot.
  po/duplicity.pot
Due: none

chg:pkg: Update changelog.
  CHANGELOG.md
Due: website

chg:pkg: Prep for 1.2.0.
  setup.py
Due: none

Prep for 1.2.1
  setup.py
Due: none

chg:pkg: Fix for setuptools changes. Add testing data files to mix.
  setup.py
Due: none

chg:pkg: Prep for 1.2.1
  tools/makechangelog
  tools/release-prep
Due: none

chg:pkg: More changes to get release process working.
  .gitchangelog.rc
  CHANGELOG.md
  setup.py
  tools/makechangelog
Due: website

chg:pkg: Sort package_data file list. !minor
  setup.py
Due: none

chg:pkg: More refactoring and cleanup after merge.
  duplicity/cli_main.py
  duplicity/cli_usage.py
  duplicity/commandline.py
  duplicity/config.py
  duplicity/dup_main.py
  duplicity/selection.py
  setup.py
  testing/unit/test_commandline.py
Due: code, py27, py35, py36, py37, py38, py39, py310, py311

chg:pkg: Fix version and required python version.
  setup.py
Due: none

chg:pkg: Change optparse to argparse. Checkpoint.
  duplicity/cli_main.py
  duplicity/config.py
  duplicity/dup_main.py
Due: code, py27, py35, py36, py37, py38, py39, py310, py311

chg:pkg: Change optparse to argparse. Checkpoint.
  duplicity/cli_main.py
  duplicity/config.py
Due: code, py27, py35, py36, py37, py38, py39, py310, py311

Path conditions:
  code: any of: .gitlab-ci.yaml, bin/duplicity, bin/rdiffdir, duplicity/**/*, testing/**/*
  py27: any of: .gitlab-ci.yaml, bin/duplicity, bin/rdiffdir, duplicity/**/*, testing/**/*
  py35: any of: .gitlab-ci.yaml, bin/duplicity, bin/rdiffdir, duplicity/**/*, testing/**/*
  py36: any of: .gitlab-ci.yaml, bin/duplicity, bin/rdiffdir, duplicity/**/*, testing/**/*
  py37: any of: .gitlab-ci.yaml, bin/duplicity, bin/rdiffdir, duplicity/**/*, testing/**/*
  py38: any of: .gitlab-ci.yaml, bin/duplicity, bin/rdiffdir, duplicity/**/*, testing/**/*
  py39: any of: .gitlab-ci.yaml, bin/duplicity, bin/rdiffdir, duplicity/**/*, testing/**/*
  py310: any of: .gitlab-ci.yaml, bin/duplicity, bin/rdiffdir, duplicity/**/*, testing/**/*
  py311: any of: .gitlab-ci.yaml, bin/duplicity, bin/rdiffdir, duplicity/**/*, testing/**/*
  website: any of: CHANGELOG.md, README.md, bin/*.1
